.anims {
    &--shake {
        @keyframes shake {
            0%, 100% { transform: translateX(0); }
            20%, 60% { transform: translateX(-10px); }
            40%, 80% { transform: translateX(10px); }
        }

        animation: shake 0.3s ease-in-out infinite;
    }

    &--collapse {
        max-height: 0 !important;
        transition: 1s ease-in-out;
    }
}
