.workshop-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &__author {
        z-index: 2;
        position: absolute;
        top: -10px;
        transform: translateY(-100%);
        left: 0;
        font-size: 1.8rem;
        font-weight: 600;
        font-variation-settings: 'GRAD' 0, 'XOPQ' 106, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712, 'slnt' 0, 'wdth' 145;
        color: #5A5A5A;

        a {
            color: #5A5A5A;
        }
    }

    form {
        max-height: 500px;
    }

    &__group {
        position: relative;
        overflow: hidden;
    }

    &__info {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: var(--bs-body-bg);

        p,
        a {
            font-variation-settings: 'GRAD' 0, 'XOPQ' 106, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712, 'slnt' 0, 'wdth' 145;
            color: #949494;
        }
    }

    &__bottom {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;

        &-text {
            font-size: 1.4rem;
            font-weight: 300;
            letter-spacing: 0.03em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #5A5A5A;
        }

        @media (max-width: 991px) {
            flex-direction: column;
            gap: 1.5rem;

            &-text {
                order: 1;
            }
        }
    }
}